{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">

  <form method="POST" action="">

    {{ form.csrf_token }}
    <table>
      <tr>
        <td>{{ form.materialClass.label }}</td>
        <td>{{ form.materialClass }}</td>
      </tr>
      <tr>
        <td>{{ form.callNumber.label }}</td>
        <td>{{ form.callNumber }}</td>
      </tr>
      <tr>
        <td>{{ form.title.label }}</td>
        <td>{{ form.title }}</td>
      </tr>
      <tr>
        <td>{{ form.author.label }}</td>
        <td>{{ form.author }}</td>
      </tr>
      <tr>
        <td>{{ form.publisher.label }}</td>
        <td>{{ form.publisher }}</td>
      </tr>
      <tr>
        <td>{{ form.copyright.label }}</td>
        <td>{{ form.copyright }}</td>
      </tr>
      <tr>
        <td>{{ form.ISBN.label }}</td>
        <td>{{ form.ISBN }}</td>
      </tr>
    </table>

    <input type="submit" value="Save" class="btn btn-info" style="background-color: #3B945E; color:#F2F2F2">

  </form>

</div>
{% endblock %}
