{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">

  <h3>{{ legend }}</h3>





  <form method="POST" action="">

    {{ form.csrf_token }}

    <table>
      <tr>
        <td>{{ form.firstName.label }}</td>
        <td>{{ form.firstName }}</td>
      </tr>
      <tr>
        <td>{{ form.lastName.label }}</td>
        <td> {{ form.lastName }}</td>
      </tr>
      <tr>
        <td>{{ form.birthdate.label }}</td>
        <td>{{ form.birthdate }}</td>
      </tr>
      <tr>
        <td>{{ form.address1.label }}</td>
        <td>{{ form.address1 }}</td>
      </tr>
      <tr>
        <td>{{ form.address2.label }}</td>
        <td>{{ form.address2 }}</td>
      </tr>
      <tr>
        <td>{{ form.city.label }}</td>
        <td>{{ form.city }}</td>
      </tr>
      <tr>
        <td>{{ form.state.label }}</td>
        <td>{{ form.state }}</td>
      </tr>
      <tr>
        <td>{{ form.zip.label }}</td>
        <td>{{ form.zip }}</td>
      </tr>
      <tr>
        <td>{{ form.phoneNumber1.label }}</td>
        <td>{{ form.phoneNumber1 }}</td>
      </tr>
      <tr>
        <td>{{ form.phoneNumber2.label }}</td>
        <td>{{ form.phoneNumber2 }}</td>
      </tr>
      <tr>
        <td>{{ form.email.label }}</td>
        <td>{{ form.email }}</td>
      </tr>
    </table>


    <input type="submit" value="Save" class="btn btn-info" style="background-color: #3B945E; color:#F2F2F2">

  </form>

</div>
{% endblock %}
