{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
<p><a href="{{ url_for('check_out')}}" class="btn btn-info" style="background-color: #3B945E; color: #F2F2F2"> Check Out</a>

<a href="/circulations/overdue" class="btn btn-danger"> Overdue Materials</a>
<a href="/circulations/duetoday" class="btn btn-danger"> Due Today</a>
</p>

<form method ="POST">
  <input type="text" autofocus="autofocus" name="search_circulation" placeholder="Search..">
  <button type="submit" formaction="/searchcirculations" ><i class="fa fa-search"></i></button>
</form>
</div>


{% if circulations %}
    <table class="table table-striped table-hover table-sm text-center" id="MaterialsRented">
        <thead>
            <tr>
                <th>Checkout ID</th>
                <th>Material ID</th>
                <th>Patron ID</th>
                <th>Day Rented</th>
                <th>Due Date</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for row in circulations %}
            <tr>

                <td> {{ row.checkoutId }}</td>
                <td> {{ row.materialId }}</td>
                <td> {{ row.patronId }}</td>
                <td> {{ row.dayRented }}</td>
                <td> {{ row.dueDate }}</td>
                <td> <form action="{{ url_for('check_in', checkoutId=row.checkoutId) }}" method="POST">
                  <input type="submit" value="Check In" class="btn btn-info" style="background-color: #65CCB8;color: #F2F2F2" />
                </form>
              </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
<p id="demo"></p>

<script>
  var x = document.getElementById("MaterialsRented").rows.length;
  document.getElementById("demo").innerHTML = "Materials Rented: " + (x-1);
</script>
{% endblock %}
