{% extends 'base.html' %}

{% block body %}
<div class="jumbotron">
  <h1>See Hours and Location</h1>
  <p><a href="/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div>
<a href="/circulations/add_material" class="btn btn-primary btn-lg">Add Material </a>
<a href="/circulations/add_patron" class="btn btn-primary btn-lg">Add Account</a>
<a href="/circulations/check_out" class="btn btn-primary btn-lg">Checkout <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
</div>
{% endblock %}
