{% extends 'base.html' %}

{% block body %}
<br><br>
<div>
<a href="/material/new" class="btn btn-primary btn-lg">Add Material </a>
<a href="/patron/new" class="btn btn-primary btn-lg">Add Account</a>
<a href="/circulations/check_out" class="btn btn-primary btn-lg">Checkout Material<i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
</div>
<br><br>
<div class="jumbotron">
<h1>SLPL</h1>
 <p><a href="/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
 </div>
<br><br>
<h4> Location </h4>
<p>Address: 1901 Readers Lane <br/> </p>
<h4> Contact </h4>
<p>Phone Number:  319-355-0001
<br/>
Email:  <a href="mailto:library@slpl.com">library@slpl.com</a></p>
<h4> Hours </h4>
<table  class="leftColumned"><tbody><tr><td class="leftColumnedLabel"><b>Mon-Thurs</b></td>
<td>9:30-8:00</td>
</tr><tr><td class="leftColumnedLabel"><b>Fri</b></td>
<td>9:30-5:00</td>
</tr><tr><td class="leftColumnedLabel"><b>Sat</b></td>
<td>9:30-3:00</td>
</tr><tr><td class="leftColumnedLabel"><b>Sun </b></td>
<td>Closed</td>
</tr></tbody></table>

{% endblock %}
