{% extends 'base.html' %}

{% block body %}

<p><a href="{{ url_for('add_material')}}"> Add a new material</a></p>
<form method ="POST">
  <input type="text" autofocus="autofocus" name="search_materials">
  <input type="submit" formaction="/searchmaterials" value="Search Materials">
</form>

{% if materials %}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
            </tr>
        </thead>

        <tbody>
            {% for row in materials %}
            <tr>

                <td> {{ row.title }}</td>
                <td> {{ row.author }}</td>
                <td> {{ row.ISBN }}</td>

                    <td>
          <form action="{{ url_for('material', materialId=row.materialId) }}" method="POST">
            <input type="submit" value="Details" class="btn btn-info" />
          </form>
        </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
