{% extends 'base.html' %}
{% block body %}
<div>
<p><a href="{{ url_for('index')}}"> Home </a></p>
  <h3>{{ legend }}</h3>
  
   </div>


{% if form %}
  <form method="POST", action=''>


    {{ form.csrf_token }}

    {{ form.materialId.label }} {{ form.materialId }}
    {{ form.materialClass.label }} {{ form.materialClass }}
    {{ form.callNumber.label }} {{ form.callNumber }}
    {{ form.title.label }} {{ form.title }}
    {{ form.author.label }} {{ form.author }}
    {{ form.publisher.label }} {{ form.copyright }}
    {{ form.ISBN.label }} {{ form.ISBN }}
    {{ form.dateAdded.label }} {{ form.dateAdded }}
    {{ form.lastModified.label }} {{ form.lastModified }}


    <input type="submit" formaction="{{url_for('update_material', materialId=form.materialId)}}" value="Update">
    <input type="submit" formaction="{{url_for('delete_material', materialId=form.materialId)}}" value="Delete">



  </form>
{% endif %}
</div>
{% endblock %}
