{% extends 'base.html' %}
{% block body %}


<div class="container-fluid">
  {% if form %}
    <form method="POST", action=''>

      {{ form.csrf_token }}
      <table class="table table-hover table-sm text-left">
          <tr>
            <td><b>ID: </b></td>
            <td>{{ form.materialId }}</td>
          </tr>
          <tr>
            <td><b>Class: </b></td>
            <td>{{ form.materialClass }}</td>
          </tr>
          <tr>
            <td><b>Call Number: </b></td>
            <td>{{ form.callNumber }}</td>
          </tr>
          <tr>
            <td><b>Title: </b></td>
            <td>{{ form.title }}</td>
          </tr>
          <tr>
            <td><b>Author: </b></td>
            <td>{{ form.author }}</td>
          </tr>
          <tr>
            <td><b>Publisher: </b></td>
            <td>{{ form.publisher }}</td>
          </tr>
          <tr>
            <td><b>Copyright: </b></td>
            <td>{{ form.copyright}}</td>
          </tr>
          <tr>
            <td><b>ISBN: </b></td>
            <td>{{ form.ISBN }}</td>
          </tr>
          <tr>
            <td><b>Date Added: </b></td>
            <td>{{ form.dateAdded }}</td>
          </tr>
          <tr>
            <td><b>Last Modified: </b></td>
            <td>{{ form.lastModified }}</td>
          </tr>
        </table>
          <br>
        <table>
          <tr>
            <td><input type="submit" formaction="{{url_for('update_material', materialId=form.materialId)}}" value="Update" class="btn btn-info"></td>
            <td><input type="submit" formaction="{{url_for('delete_material', materialId=form.materialId)}}" value="Delete" class="btn btn-danger"></td>
          </tr>
        </table>
    </form>
  {% endif %}
</div>
{% endblock %}
