{% extends 'base.html' %}
{% block body %}


<div class="container-fluid">
  {% if form %}
    <form method="POST", action=''>

      {{ form.csrf_token }}
      <table class="table table-striped table-hover table-sm text-center">
          <tr>
            <td>ID:</td>
            <td>{{ form.materialId }}</td>
          </tr>
          <tr>
            <td>Class:</td>
            <td>{{ form.materialClass }}</td>
          </tr>
          <tr>
            <td>Call Number:</td>
            <td>{{ form.callNumber }}</td>
          </tr>
          <tr>
            <td>Title:</td>
            <td>{{ form.title }}</td>
          </tr>
          <tr>
            <td>Author:</td>
            <td>{{ form.author }}</td>
          </tr>
          <tr>
            <td>Publisher:</td>
            <td>{{ form.publisher }}</td>
          </tr>
          <tr>
            <td>Copyright:</td>
            <td>{{ form.copyright}}</td>
          </tr>
          <tr>
            <td>ISBN:</td>
            <td>{{ form.ISBN }}</td>
          </tr>
          <tr>
            <td>Date Added:</td>
            <td>{{ form.dateAdded }}</td>
          </tr>
          <tr>
            <td>Last Modified:</td>
            <td>{{ form.lastModified }}</td>
          </tr>
        </table>
          <br>
        <table>
          <tr>
            <td><input type="submit" formaction="{{url_for('update_material', materialId=form.materialId)}}" value="Update" class="btn btn-info"></td>
            <td><input type="submit" formaction="{{url_for('delete_material', materialId=form.materialId)}}" value="Delete" class="btn btn-info"></td>
          </tr>
        </table>
    </form>
  {% endif %}
</div>
{% endblock %}
