{% extends 'base.html' %}

{% block body %}
<div>
<p><a href="{{ url_for('add_material')}}" class = "btn btn-info" style="background-color: #3B945E; color:#F2F2F2 "> Add To Catalog</a></p>
<form method ="POST">
  <input type="text" autofocus="autofocus" name="search_materials" placeholder="Search catalog..">
  <button type="submit" formaction="/searchmaterials" ><i class="fa fa-search"></i></button>
</form>
</div>

{% if materials %}
    <table class="table table-striped table-hover table-sm text-center" id="totalMaterials">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
            </tr>
        </thead>

        <tbody>
            {% for row in materials %}
            <tr>

                <td> {{ row.title }}</td>
                <td> {{ row.author }}</td>
                <td> {{ row.ISBN }}</td>

                    <td>
          <form action="{{ url_for('material', materialId=row.materialId) }}" method="POST">
            <input type="submit" value="Details" class="btn btn-info" style="background-color: #65CCB8; color: #F2F2F2"/>
          </form>
        </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
<p id="demo"></p>

<script>
  var x = document.getElementById("totalMaterials").rows.length;
  document.getElementById("demo").innerHTML = "Total Materials: " + (x-1);
</script>
{% endblock %}
