{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">

  {% if form %}
    <form method="POST", action=''>


      {{ form.csrf_token }}
    <table class="table table-striped table-hover table-sm text-center">
      <tr>
          <td>ID:</td>
          <td>{{ form.patronId }}</td>
        </tr>
        <tr>
          <td>First Name:</td>
          <td>{{ form.firstName }}</td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td>{{ form.lastName }}</td>
        </tr>
        <tr>
          <td>Birthdate:</td>
          <td>{{ form.birthdate }}</td>
        </tr>
        <tr>
          <td>Address 1:</td>
          <td>{{ form.address1 }}</td>
        </tr>
        <tr>
          <td>Address 2:</td>
          <td>{{ form.address2 }}</td>
        </tr>
        <tr>
          <td>City:</td>
          <td>{{ form.city }}</td>
        </tr>
        <tr>
          <td>State:</td>
          <td>{{ form.state }}</td>
        </tr>
        <tr>
          <td>Zip:</td>
          <td>{{ form.zip }}</td>
        </tr>
        <tr>
          <td>Phone Number 1:</td>
          <td>{{ form.phoneNumber1 }}</td>
        </tr>
        <tr>
          <td>Phone Number 2:</td>
          <td>{{ form.phoneNumber2 }}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{ form.email }}</td>
        </tr>
        <tr>
          <td>Date Added:</td>
          <td>{{ form.dateAdded }}</td>
        </tr>
        <tr>
          <td>Last Modified:</td>
          <td>{{ form.lastModified }}</td>
        </tr>
      </table>

      <table>
        <tr>
          <td><input type="submit" formaction="{{url_for('update_patron', patronId=form.patronId)}}" value="Update" class="btn btn-info"></td>
          <td><input type="submit" formaction="{{url_for('delete_patron', patronId=form.patronId)}}" value="Delete" class="btn btn-info"></td>
        </tr>
      </table>


    </form>
  {% endif %}
</div>
{% endblock %}
