{% extends 'base.html' %}

{% block body %}
<div>
<p><a href="{{ url_for('add_patron')}}" class = "btn btn-info" style="background-color: #3B945E; color: #F2F2F2 "> Add Account</a></p>
<form method ="POST">
  <input type="text" autofocus="autofocus" name="search_patrons" placeholder="Search patrons..">
  <button type="submit" formaction="/searchpatrons" ><i class="fa fa-search"></i></button>
</form>
</div>
{% if patrons %}
    <table class="table table-striped table-hover table-sm text-center" id="totalPatrons">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for row in patrons %}
            <tr>

                <td> {{ row.firstName }}</td>
                <td> {{ row.lastName }}</td>
                <td> {{ row.phoneNumber1 }}</td>

                    <td>
          <form action="{{ url_for('patron', patronId=row.patronId) }}" method="POST">
            <input type="submit" value="Details" class="btn btn-info" style="background-color: #65CCB8; color: #F2F2F2"/>
          </form>
        </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endif %}
<p id="demo"></p>

<script>
  var x = document.getElementById("totalPatrons").rows.length;
  document.getElementById("demo").innerHTML = "Total Patrons: " + (x-1);
</script>
{% endblock %}
