{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">


  <form method="POST" action="">

    {{ form.csrf_token }}
    <table class="table table-hover table-sm text-left">
      <tr>
        <td>{{ form.patronId.label }}</td>
        <td> {{ form.patronId(size=20, readonly=true) }}</td>
      </tr>
      <tr>
        <td>{{ form.firstName.label }}</td>
        <td>{{ form.firstName(size=20,readonly=true) }}</td>
      </tr>
      <tr>
        <td>{{ form.lastName.label }}</td>
        <td>{{ form.lastName(size=20, ) }}</td>
      </tr>
      <tr>
        <td>{{ form.birthdate.label }}</td>
        <td>{{ form.birthdate(size=20, readonly=true) }}</td>
      </tr>
      <tr>
        <td>{{ form.address1.label }}</td>
        <td> {{ form.address1(size=20) }}</td>
      </tr>
      <tr>
        <td>{{ form.address2.label }} </td>
        <td>{{ form.address2(size=20) }}</td>
      </tr>
      <tr>
        <td>{{ form.city.label }}</td>
        <td>{{ form.city(size=20) }}</td>
      </tr>
      <tr>
        <td>{{ form.state.label }}</td>
        <td>{{ form.state(size=20) }}</td>
      </tr>
      <tr>
        <td>{{ form.zip.label }}</td>
        <td>{{ form.zip(size=20) }}</td>
      </tr>
      <tr>
        <td>{{ form.phoneNumber1.label }} </td>
        <td>{{ form.phoneNumber1(size=20) }}</td>
      </tr>
      <tr>
        <td>{{ form.phoneNumber2.label }} </td>
        <td>{{ form.phoneNumber2(size=20) }}</td>
      </tr>
      <tr>
        <td>{{ form.email.label }}</td>
        <td>{{ form.email(size=20) }}</td>
      </tr>
      <tr>
        <td>{{ form.dateAdded.label }}</td>
        <td>{{ form.dateAdded(size=20, readonly=true) }}</td>
      </tr>
      <tr>
        <td>{{ form.lastModified.label }}</td>
        <td>{{ form.lastModified(size=20, readonly=true) }}</td>
      </tr>
    </table>



    <input type="submit" value="Save" class="btn btn-info">

  </form>

</div>
{% endblock %}
