{% extends 'base.html' %}
{% block body %}
<div>
  <p><a href="{{ url_for('index')}}"> Home </a></p>

  <h3>{{ legend }}</h3>

  <form method="POST" action="">

    {{ form.csrf_token }}


    {{ form.checkoutId.label }}     {{ form.checkoutId(size=20, readonly=true) }} <br>
    {{ form.materialId.label }}     {{ form.materialId(size=20) }} <br>
    {{ form.patronId.label }}       {{ form.patronId(size=20) }}<br>
    {{ form.dayRented.label }}      {{ form.dayRented(size=20) }}<br>
    {{ form.dueDate.label }}        {{ form.dueDate(size=20) }}<br>

    <input type="submit" value="Save">

  </form>

</div>
{% endblock %}
